# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc
*.pyo

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs and Database
*.log
*.sql
*.sqlite3
/Database/*.db

# OS
.DS_Store
Thumbs.db

#Folder
log/
Logs/
reports/output/
tests/test_output/